{% extends "base.html" %}
{% load bootstrap4 %}

{% block body %}






    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add New Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="job_details_area">
    <div class="container">
      <div class="apply_job_form white-bg">

  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form%} 
    <input type="submit" class="boxed-btn3 w-100" value="Change password">
  </form>

  </div>
  </div>
  </div>
{% endblock %}